body {
  background-color: rgba(177, 177, 177, 0.8); //#b1b1c1;
  color: white;
  
}
img {
  display: block;
  margin: auto;
  max-width: 900px;
  width: 100%;
  height: auto;
  border-radius: 5px;
}
#title {
  text-align: center;
  //align:center;
}
h1,
h3 {
  font-family: monospace;
}
h1 {
  text-decoration: underline overline;
}
#img-div {
  text-align: center;
}
#img-caption {
  margin-top: 5px;
  font-size: 12px;
  font-family: monospace;
}
#footer {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-top: 15px;
}
a {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
#tribute-info {
  padding-top: 5px;
  margin-top: 10px;
  padding-bottom: 5px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), black);
  border-radius: 8px;
  //background-color:rgba(1,1,1,0.5)
}
li {
  margin: 20px;
  text-align: justify;
}